<h2 mat-dialog-title>{{ 'ventas.caja.autorizar.title' | translate }}</h2>

<mat-dialog-content class="b-t-1">
  <p class="m-b-16">{{ 'ventas.caja.autorizar.instrucciones' | translate }}</p>

  <form [formGroup]="autorizarCierreForm" class="row m-t-8">
    <div class="col-12">
      <div class="row">
        <div class="col-sm-6 m-b-16">
          <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-8">{{
            'ventas.caja.autorizar.usuario' | translate
          }}</mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <input matInput formControlName="usuario" autocomplete="off" />
          </mat-form-field>
        </div>
        <div class="col-sm-6 m-b-16">
          <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-8">{{
            'ventas.caja.autorizar.password' | translate
          }}</mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <input matInput type="password" formControlName="password" autocomplete="off" />
          </mat-form-field>
        </div>
      </div>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-stroked-button (click)="cerrar()">{{ 'ventas.caja.autorizar.cancelar' | translate }}</button>
  <button mat-flat-button color="primary" [disabled]="enviando()" (click)="autorizar()">
    {{ 'ventas.caja.autorizar.autorizar' | translate }}
  </button>
</mat-dialog-actions>
