<div class="row" *blockUI="'apertura-ingreso-efectivo'">
  <div class="col-12 col-lg-6">
    <mat-card class="cardWithShadow">
      <mat-card-content class="p-24">
        <h4 class="f-s-18 f-w-600 m-b-16">
          {{ (esApertura() ? 'pedidosEspeciales.caja.ingreso.tituloApertura' : 'pedidosEspeciales.caja.ingreso.tituloIngreso') | translate }}
        </h4>

        @if (esApertura()) {
          <div class="d-flex align-items-center gap-8 m-b-16">
            <i-tabler name="lock-open" class="icon-24"></i-tabler>
            <span class="f-s-14">{{ 'pedidosEspeciales.caja.ingreso.avisoApertura' | translate }}</span>
          </div>
        }

        <form [formGroup]="ingresoForm" class="row m-t-8">
          <div class="col-12">
            <div class="row">
              <div class="col-12 m-b-16">
                <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-8">{{
                  'pedidosEspeciales.caja.ingreso.monto' | translate
                }}</mat-label>
                <mat-form-field appearance="outline" class="w-100">
                  <span matPrefix>$&nbsp;</span>
                  <input matInput type="number" min="0.01" step="0.01" formControlName="monto" />
                  @if (ingresoForm.controls.monto.hasError('required') && ingresoForm.controls.monto.touched) {
                    <mat-error>{{ 'pedidosEspeciales.caja.ingreso.msg.montoRequerido' | translate }}</mat-error>
                  }
                </mat-form-field>
              </div>
            </div>
          </div>
        </form>

        <div class="text-end d-flex justify-content-end gap-8">
          @if (ultimoIngresoId(); as idIngreso) {
            <button mat-stroked-button color="primary" [disabled]="generandoTicket()" (click)="verTicket()">
              <i-tabler name="printer" class="icon-18"></i-tabler>
              {{ 'pedidosEspeciales.caja.ingreso.verTicket' | translate }}
            </button>
          }
          <button mat-flat-button color="primary" [disabled]="guardando()" (click)="guardar()">
            {{ (esApertura() ? 'pedidosEspeciales.caja.ingreso.abrir' : 'pedidosEspeciales.caja.ingreso.guardar') | translate }}
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
